<div class="notes-container">
    <div class="notes-navigation">
        <notes-navigation (NavigationEvent)="this.navigationEvent($event)"></notes-navigation>
    </div>
    <div class="notes-body">
        <router-outlet></router-outlet>
        <!-- <div class="editor">
            <div class="options"></div>
            <div class="view-area">
                <app-monaco-editor [code]="code" *ngIf="true"></app-monaco-editor>
                <app-text *ngIf="false"></app-text>
            </div>
            <div class="toolbar">
                Details man
            </div>
        </div> -->
    </div>
</div>