@import "/src/@themes/variables";
@import "/src/@themes/mixins";

.journal-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .toolbar {
    user-select: none;
    height: 20px;
    background: #007acc;
    display: flex;
    align-items: center;
    font-size: 11px;

    .toolbar-item {
      background-color: theme-var($--theme-menu-background);
      padding: 0 10px;
      margin-right: 10px;
      border-radius: 3px;
    }

    .toolbar-separator {
      flex-grow: 1;
    }
  }

  .journal-calendar {
    display: flex;

    .journal-date-navigation {
      align-self: center;
      cursor: pointer;
      user-select: none;
      display: flex;
      background-color: theme-var($--theme-menu-background);
      padding: 10px;
      margin: 0 20px;
      border-radius: 5px;

      .button {
        svg {
          width: 25px;
          height: 25px;
        }
      }
    }

    .journal-date-button {
      cursor: pointer;
      user-select: none;
      display: flex;
      margin: 7px;
      padding: 10px 16px;
      align-self: center;
      background-color: theme-var($--theme-menu-background);
      border-radius: 5px;

      .date-view {
        display: flex;
        flex-direction: column;
        align-items: center;
        vertical-align: middle;

        .date-text {
          font-size: 15px;
        }

        .month-text {
          font-size: 9px;
        }

        .day-text {
          font-size: 10px;
        }
      }



      &.active {
        background-color: theme-var($--theme-journal-date-active);
        border: solid 2px theme-var($--theme-menu-item-active-border);
        padding: 8px 14px;
      }
    }
  }

  .journal-content {
    flex-grow: 1;
    overflow: auto;
  }
}
