@import "/src/@themes/variables";
@import "/src/@themes/mixins";

.journal-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .toolbar {
    user-select: none;
    height: 20px;
    background: #007acc;
    display: flex;
    align-items: center;
    font-size: 11px;

    .toolbar-item {
      background-color: theme-var($--theme-menu-background);
      padding: 0 10px;
      margin-right: 10px;
      border-radius: 3px;
    }

    .toolbar-separator {
      flex-grow: 1;
    }
  }

  .save-spinner {
    display: flex;
    align-items: center;
    .loader {
      margin-right: 10px;
      font-size: 10px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #ffffff;
      background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
      background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
      background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
      background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
      background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
      position: relative;
      -webkit-animation: load3 1.4s infinite linear;
      animation: load3 1.4s infinite linear;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
    }

    .loader:before {
      width: 50%;
      height: 50%;
      background: #ffffff;
      border-radius: 100% 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
    }

    .loader:after {
      background: #0dc5c1;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: '';
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    @-webkit-keyframes load3 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @keyframes load3 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

  }

  .journal-calendar {
    display: flex;

    .journal-date-navigation {
      align-self: center;
      cursor: pointer;
      user-select: none;
      display: flex;
      background-color: theme-var($--theme-menu-background);
      padding: 10px;
      margin: 0 20px;
      border-radius: 5px;

      .button {
        svg {
          width: 25px;
          height: 25px;
        }
      }
    }

    .journal-date-button {
      cursor: pointer;
      user-select: none;
      display: flex;
      margin: 7px;
      padding: 10px 16px;
      align-self: center;
      background-color: theme-var($--theme-menu-background);
      border-radius: 5px;

      .date-view {
        display: flex;
        flex-direction: column;
        align-items: center;
        vertical-align: middle;

        .date-text {
          font-size: 15px;
        }

        .month-text {
          font-size: 9px;
        }

        .day-text {
          font-size: 10px;
        }
      }



      &.active {
        background-color: theme-var($--theme-menu-item-active);
        border: solid 2px theme-var($--theme-menu-item-active-border);
        padding: 8px 14px;
      }
    }
  }

  .journal-content {
    flex-grow: 1;
    overflow: auto;
  }
}
