<div class="main-container">
    <div class="navigation">
        <a [routerLink]="'/notes'" class="nav-items" title="Notes" [routerLinkActive]="['active']">
            <img src="/assets/book.svg" alt="Notes">
        </a>
        <a [routerLink]="'/journal'" class="nav-items" title="Journal" [routerLinkActive]="['active']">
            <img src="/assets/diary.svg" alt="Diary">
        </a>
        <span class="seperator"></span>
        <a href='javascript:void(0);' (click)="toggleTheme()" class="button-items theme-toggle" title="Theme">
            <img src="/assets/light-bulb.svg" alt="Theme">
        </a>
    </div>
    <div class="main-body">
        <router-outlet></router-outlet>
    </div>
</div>
