<!-- <div class="editor">
    <div class="options"></div>
    <div class="view-area">
        <app-monaco-editor [code]="code" *ngIf="true"></app-monaco-editor>
        <app-text *ngIf="false"></app-text>
    </div>
    <div class="toolbar">
        Details man
    </div>
</div> -->

<div class="editor">
    <div class="view-area">
        <div class="options">
            <input class="notebook" [(ngModel)]="Page.PageName" (ngModelChange)="this.storeNotebook()" type="text">
            <select [(ngModel)]="Page.PageLanguage">
                <option value="{{ Page.PageLanguage }}">1</option>
                <option value="1">2</option>
                <option value="1">3</option>
            </select>
        </div>
        <div class="description">
            <!-- <app-text-editor [placeholder]="'Insert Description Here ...'" [Data]="Notebook.DescriptionData" (OnContentChange)="saveNotebookDescription($event.html)"></app-text-editor> -->
        </div>
    </div>
    <div class="toolbar">
        <div class="toolbar-separator"> </div>
        <div class="toolbar-item">
            <span class="save-spinner">
                <ng-container *ngIf="NotebookSaveInit">
                    <div class="loader"></div>
                    Saving
                </ng-container>
                <ng-container *ngIf="!NotebookSaveInit">
                    Saved
                </ng-container>
            </span>
        </div>
        <div class="toolbar-item" title="Last Modified">
            {{ Page.Modified | date:'MMM d, y, h:mm:ss a' }}
        </div>
    </div>
</div>