$--theme-primary: --theme-primary;
$--theme-secondary: --theme-secondary;
$--theme-toggle: --theme-toggle;
$--theme-text: --theme-text;
$--theme-gray-text: --theme-gray-text;

// Menu
$--theme-background: --theme-background;
$--theme-menu-background: --theme-menu-background;
$--theme-menu-item-active: --theme-menu-item-active;
$--theme-menu-item-active-border: --theme-menu-item-active-border;

// Generic Components
// DropDown
$--theme-dropdown-background: --theme-dropdown-background;
$--theme-dropdown-border: --theme-dropdown-border;
$--theme-dropdown-hover: --theme-dropdown-hover;

// Notes
$--theme-notes-nav-background: --theme-notes-nav-background;

// Journal
$--theme-journal-date-active: --theme-journal-date-active;



// Default theme
$theme-map-light: (
    $--theme-primary: #d75893,
    $--theme-secondary: #d75893,
    $--theme-toggle: #202020,
    $--theme-text: #202020,
    $--theme-gray-text: #5e5e5e,
    $--theme-menu-background: #fffffe,
    $--theme-menu-item-active: #423c3c,
    $--theme-menu-item-active-border: #01adfd,
    $--theme-dropdown-background: #fffffe,
    $--theme-dropdown-border: #202020,
    $--theme-dropdown-hover: #979797,
    $--theme-notes-nav-background: #fffffe,
    $--theme-background: #fffffe,

    $--theme-journal-date-active: #dfdfdf,
);

// Override the default light theme
$theme-map-dark: (
    $--theme-primary: #f34c84,
    $--theme-secondary: #d75893,
    $--theme-toggle: #dddddd,
    $--theme-text: #dddddd,
    $--theme-gray-text: #7c7c7c,
    $--theme-menu-background: #333333,
    $--theme-menu-item-active: #535353,
    $--theme-menu-item-active-border: #259959,
    $--theme-dropdown-background: #333333,
    $--theme-dropdown-border: #202020,
    $--theme-dropdown-hover: #272727,
    $--theme-notes-nav-background: #1e1e1e,
    $--theme-background: #1e1e1e,

    $--theme-journal-date-active: #535353,
);
