@import "/src/@themes/variables";
@import "/src/@themes/mixins";

@import '../node_modules/quill/dist/quill.core.css';
@import '../node_modules/quill/dist/quill.bubble.css';
@import '../node_modules/quill/dist/quill.snow.css';

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background: theme-var($--theme-background);
    color: theme-var($--theme-text);
    font: normal 10px 'Fira Code', monospace, Arial, sans-serif;
}

@media screen and (min-width: 64em) {
    ::-webkit-resizer {
        display: none;
    }

    ::-webkit-scrollbar {
        width: 10px;
        height: 8px;
        border-radius: 20px;
    }

    ::-webkit-scrollbar-button {
        display: none;
    }

    ::-webkit-scrollbar-corner {
        display: none;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(136, 136, 136, 0.322);
    }

    ::-webkit-scrollbar-track-piece {
        background-color: transparent;
    }
}

.save-spinner {
    display: flex;
    align-items: center;
    .loader {
      margin-right: 10px;
      font-size: 10px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #ffffff;
      background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
      background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
      background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
      background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
      background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
      position: relative;
      -webkit-animation: load3 1.4s infinite linear;
      animation: load3 1.4s infinite linear;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
    }

    .loader:before {
      width: 50%;
      height: 50%;
      background: #ffffff;
      border-radius: 100% 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
    }

    .loader:after {
      background: #0dc5c1;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: '';
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    @-webkit-keyframes load3 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    @keyframes load3 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }

      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

}